<table class="table table-striped table-hover">
  <thead class="table-dark">
    <tr>
      <th>Número do Crédito</th>
      <th>NFS-e</th>
      <th>Data</th>
      <th>Valor ISSQN</th>
      <th>Tipo</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let credito of creditos">
      <td>{{ credito.numeroCredito }}</td>
      <td>{{ credito.numeroNfse }}</td>
      <td>{{ credito.dataConstituicao }}</td>
      <td>R$ {{ credito.valorIssqn | number:'1.2-2' }}</td>
      <td>{{ credito.tipoCredito }}</td>
    </tr>
  </tbody>
</table>
